ANAGRAM

In [6]:
"""inp=earth
   out=heart"""

a=input("enter a first string:")
b=input("enter a second string:")
c=sorted(a)
d=sorted(b)
if c==d:
    print(f"{a} and {b} is anagram!!!")
else:
    print(f"{a} and {b} is not an anagram!!!")

enter a first string: earth
enter a second string: heart

earth and heart is anagram!!!

Check for palindrome

In [8]:
"""inp=malayalam
   out=its a palindrome"""

l=input("enter a string:")
l1=l[::-1]
print(f"{l1} is the reversed string")
if l1==l:
    print(f"{l}  is palindrome!!!")
else:
    print(f"{l}  is not a palindrome!!!")

enter a string: 141

141 is the reversed string
141  is palindrome!!!

prime or not

In [51]:
"""inp=13
    out=its a prime"""

#user input
num1=int(input("enter a number:"))
def prime(num1): 
    count=0
    for i in range(1,num1+1):
        if num1%i==0:
            count+=1
    if count==2:
        print("prime")
    else:
        print("not a prime")
prime(num1)

enter a number: 4

not a prime

In [66]:
n=int(input("enter a number range:"))
for i in range (1,n+1):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
           print(i)

enter a number range: 6

2
3
5

Maximum and Minimum number

In [70]:
l=[5,6,8,7,90,21]
for i in range(0,len(l)):
    for j in range(i,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
print(l)
print(f"The maximum no : {l[-1]}")
print(f"The minimum no : {l[0]}")

[5, 6, 7, 8, 21, 90]
The maximum no : 90
The minimum no : 5

In [75]:
l=[5,6,8,7,90,21]
l1=l[0]
l2=l[0]
for i in l:
    if i>l1:
        l1=i
    elif i<l2:
        l2=i
        
        
print(f"The maximum no : {l1}")
print(f"The maximum no : {l2}")

The maximum no : 90
The maximum no : 5

second largest and second smallest

In [78]:
l=[5,6,8,7,90,21]
for i in range(0,len(l)):
    for j in range(i,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
print(l)
print(f"The second largest no : {l[-2]}")
print(f"The second smallest no : {l[1]}")

[5, 6, 7, 8, 21, 90]
The second largest no : 21
The second smallest no : 6

sort in ascending and descending

In [81]:
l=[5,6,8,7,90,21]
for i in range(0,len(l)):
    for j in range(i,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
       
print(f"ascending order:{l}")
print("-------------------------------------")
l1=[4,9,1,2,5,90]
for i in range(0,len(l1)):
    for j in range(i,len(l1)):
        if l1[i]>l1[j]:
            l1[i],l1[j]=l1[j],l1[i]
print(f"descending order:{l1}")

ascending order:[5, 6, 7, 8, 21, 90]
-------------------------------------
descending order:[1, 2, 4, 5, 9, 90]

check even or odd

In [86]:
l=[5,6,8,7,90,21]
for i in range(0,len(l)):
    
        if l[i]%2==0:
            print(f"{l[i]}is even")
        else:
            print(f"{l[i]}is odd")

5is odd
6is even
8is even
7is odd
90is even
21is odd

Largest of three numbers

In [87]:
a=int(input("enter a first number:"))
b=int(input("enter a second number:"))
c=int(input("enter a third number:"))
if a>b and a>c:
    print(f"{a} is largest")
elif b>c and b>a:
    print(f"{b} is largest")
else:
    print(f"{c} is largest")

enter a first number: 100
enter a second number: 300
enter a third number: 2

300 is largest

reverse of a string

In [90]:
l=input("enter a string:")
l1=l[::-1]
print(f"{l1} is the reversed string")

enter a string: gowri

irwog is the reversed string

remove duplicates from a list

In [100]:
l=[5,6,8,7,90,21,5,5,6,90]
set1=set(l)
print(set1)

{5, 6, 7, 8, 21, 90}

Merge and sort the list

In [105]:
l=[5,6,8,7,90,21]
l2=[78,89,45,32]
l.extend(l2)
print(f"merging two list: {l}")
for i in range (0,len(l)):
    for j in range(i,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
print(f"ascending order:{l}")

merging two list: [5, 6, 8, 7, 90, 21, 78, 89, 45, 32]
ascending order:[5, 6, 7, 8, 21, 32, 45, 78, 89, 90]

check positive or negative

In [107]:
a=int(input("enter a number:"))
if a>=0:
    print(f"{a} is positive")
else:
    print(f"{a} is negative")

enter a number: 5

5 is positive

Find the length of the string without using len()

In [109]:
l=[5,6,8,7,90,21]
count=0
for i in l:
    count+=1
print(count)

6

convert a decimal to binary

In [113]:
l=456
l2=float(l)
print(l2)
l1=bin(l2)
print(l1)

456.0

TypeError: 'float' object cannot be interpreted as an integer